.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: .5;
}

.img {
    @media (max-width: 768px) {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: auto !important;
        }
    }

    /*
    &:nth-child(1) img {
        @media (max-width: 768px) {
            width: 150px;
        }
    }

    &:nth-child(2) img {
        @media (max-width: 768px) {
            width: 160px;
        }
    }

    &:nth-child(3) img {
        @media (max-width: 768px) {
            width: 27px;
        }
    }

    &:nth-child(4) img {
        @media (max-width: 768px) {
            width: 200px;
        }
    }

    &:nth-child(5) img {
        @media (max-width: 768px) {
            width: 125px;
        }
    }
    */
}

.second {
    justify-content: space-between;
}