.block {
    position: relative;
    padding: 75px 0 100px;

    display: flex;
    flex-direction: column;
    gap: 60px;

    @media (max-width: 1024px) {
        padding: 32px 0;
        gap: 40px;
    }
}
.title {
    margin-bottom: 18px;
    @media (max-width: 1024px) {
        margin-bottom: 30px;
    }
}

.block .text {
    margin-bottom: 124px;
    @media (max-width: 600px) {
        margin-bottom: 30px;
    }
}

.flex {
    display: flex;
    justify-content: space-between;

    @media (max-width: 600px) {
        display: block;
    }
}

.col {
    width: 100%;
    &:first-child {
        max-width: 500px;
        margin-right: 32px;
    }

    &:last-child {
        max-width: 590px;
    }
}

.btn {
    width: 100%;
    max-width: 384px;
    &.btn_mob {
        display: none;
    }
    @media (max-width: 600px) {
        display: none;
        max-width: 246px;
        margin: 0 auto;
        &.btn_mob {
            display: block;
            margin-top: 40px;
        }
    }
}

.d1, .d2, .d3, .d4, .d5 {
    top: 0;
    position: absolute;

    @media (max-width: 768px) {
        display: none;
    }
}

.d3 {
    top: -4%;
    right: 18%;
}

.d2 {
    top: -6%;
    right: 5%;
}

.d1 {
    right: -7%;
    top: 20%;
}

.d4 {
    top: 40%;
    left: -5%;
}

.d5 {
    top: 60%;
}