.footer {
    background-color: rgba(#58E9C6, .11);
    padding: 64px 0 32px;

    @media (max-width: 768px) {
        padding: 64px 0;
    }
}

.contacts {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    @media (max-width: 768px) {
        flex-direction: column;
        gap: 25px;
    }

    @media (max-width: 768px) {

    }

    .col {
        width: 33.33333%;


        @media (max-width: 768px) {
            width: 100%;
        }

        button {
            width: 100%;
            max-width: 386px;
        }

        &:last-child {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    h4 {
        font-weight: 700;
        color: #000;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        color: #000;
    }
}

.target {
    margin-top: 24px;
}

.brands {
    margin-top: 70px;
    @media (max-width:768px) {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center !important;
        div {
            &:nth-child(1) {
                max-width: 146px;
            }
            &:nth-child(2) {
                max-width: 190px;
            }
            &:nth-child(3) {
                max-width: 30px;
            }
            &:nth-child(4) {
                max-width: 240px;
            }
            &:nth-child(5) {
                max-width: 140px;
            }
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    @media (max-width: 420px) {
        flex-direction: column;
    }
}

.nav {
    margin-bottom: 54px;

    @media (max-width:500px) {
        ul {
            gap: 15px !important;
            align-items: flex-start !important;
            flex-direction: column;
        }
    }
}

.btn_mob {
    display: none;
    @media (max-width: 768px) {
        display: block;
        width: 100%;
        max-width: 335px;
        margin-top: 40px;
    }

    @media (max-width:500px) {
        margin: 40px auto 0;
    }
}