.wrap {
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.card {
    background-color: rgba(#58E9C6, .11);
    padding: 28px 34px;
    border-radius: 0 32px 32px 0;
    display: flex;
    align-items: flex-end;
    position: relative;

    @media (max-width: 1024px) {
        align-items: center;
        padding: 15px 34px;
        min-height: 71px;
    }

    svg {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
    }
}

.cardPromo {
    background-color: unset;
    border: 2px solid #EDFDF9;

    > h3 {
        color: #FB21A1;
    }

    svg path {
        stroke: #FB21A1;
    }

    @media (max-width: 1024px) {
        border: 1px solid #EDFDF9;
    }
}

.price {
    margin-right: 8px;
    color: var(--c-dark);
    line-height: 100%;

    @media (max-width: 1024px) {
        font-size: 32px;
    }
}

.text {
    margin: 0 !important;
    font-weight: 400;
    font-size: 20px;
    color: var(--c-light);

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}

.date {
    font-size: 24px !important;
    line-height: 28px !important;

    @media (max-width: 1024px) {
        font-size: 16px !important;
        line-height: 19px !important;
    }
}