.wrap {
    &:not(:last-child) {
        margin-bottom: 14px;
    }
}

.card {
    background-color: rgba(#58E9C6, .11);
    padding: 28px 34px;
    border-radius: 0 32px 32px 0;
    display: flex;
    align-items: flex-end;
    position: relative;

    svg {
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translateY(-50%);
    }
}

.cardPromo {
    background-color: unset;
    border: 2px solid #EDFDF9;

    > h3 {
        color: #FB21A1;
    }

    svg path {
        stroke: #FB21A1;
    }

    @media (max-width: 1024px) {
        border: 1px solid #EDFDF9;
    }
}

.price {
    margin-right: 8px;
    color: var(--c-dark);
}

.text {
    margin: 0 !important;
    font-size: 20px;
    color: var(--c-light);
}

.date {
    font-size: 30px;
    padding: 18px 20px;
    @media (max-width: 1024px) {
        font-size: 18px;
        padding: 10px 15px;
    }
}