.hero {
    position: relative;
}

.img {
    margin: 0 -120px;
    min-height: 785px;

    @media (max-width: 1280px) {
        min-height: 760px;
    }

    @media (max-width: 768px) {
        min-height: initial;
        position: relative;
        margin: 0 -20px;
        height: 440px;

        img {
            object-fit: cover;
        }
    }

    .brands {
        position: absolute;
        top: 140px;
        left: 20px;
        display: none;

        @media (max-width: 768px) {
            display: flex !important;
            align-items: center !important;
            width: 145px;
            transform: scale(1.5);
        }
    }

    img {
        width: 100%;
        height: 100%;
    }

    .desk {
        @media (max-width: 420px) {
            display: none !important;
        }
    }

    .mob {
        display: none;
        @media (max-width: 420px) {
            display: block;
        }
    }
}

h4.supTitle {
    font-size: 24px;
    margin-bottom: 14px;

    @media (max-width: 768px) {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.title {
    font-size: 54px;
    line-height: 100%;
    margin-bottom: 32px;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}

.flex {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
        display: block;
    }
}

.btn {
    width: 100%;
    max-width: 164px;
    margin-right: 70px;
    @media (max-width: 768px) {
        max-width: 246px;
    }
}

.date {
    color: #F8539D;

    @media (max-width: 768px) {
        text-align: center;

        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #EDFDF9;
        border-radius: 10px;
        font-weight: bold !important;
        margin-top: 18px;
    }
}

.content {
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;

    @media (max-width: 1024px) {
        top: 140px;
    }

    @media (max-width: 768px) {
        position: static;
        margin: 50px 0;
    }
}

.brands {
    margin-top: 132px;
    opacity: 1 !important;
    max-width: 750px;

    @media (max-width: 1280px) {
        margin-top: 120px;
    }

    @media (max-width: 1024px) {
        margin-top: 80px;
    }

    @media (max-width: 768px) {
        display: none !important;
        margin-top: 0;
        
        flex-direction: column;
        align-items: flex-start !important;
        gap: 15px;
    }
}


.misson {
    position: relative;
    z-index: 100;
    margin-top: -70px;
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    border-radius: 32px;
    margin-bottom: 100px;
    overflow: hidden;

    @media (max-width: 1280px) {
        margin-top: -90px;
    }

    @media (max-width: 1024px) {
        margin-top: -200px;
        margin-bottom: 32px;
    }

    @media (max-width: 768px) {
        margin-top: -60px;
    }

    h2 {
        font-size: 38px;
        margin-bottom: 8px;

        @media (max-width: 1280px) {
            font-size: 28px;
        }
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    h4 {
        font-size: 24px;
        margin-bottom: 18px;

        @media (max-width: 1280px) {
            font-size: 18px;
        }
        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

        @media (max-width: 500px) {
            br {
                display: none;
            }
        }
    }

    ul {
        font-size: 24px;
        color: var(--c-dark);

        @media (max-width: 1280px) {
            font-size: 18px;
        }

        li {
            display: flex;
            align-items: flex-start;

            &::before {
                content: "";
                transform: translateY(12px);
                margin-right: 15px;
                display: block;
                min-width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--c-gray);
            }

            @media (max-width: 1023px) {
                margin-bottom: 8px;

                &::before {
                    transform: translateY(8px);
                }
            }
        }
    }

    .wrap {
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px){
            flex-direction: column;
        }
    }

    .col {
        padding: 70px 32px 70px 80px;

        @media (max-width: 1280px) {
            padding: 32px;
        }

        @media (max-width: 1023px) {
            br {
                display: none;
            }
        }

        @media (max-width: 768px) {
            padding: 40px 20px;
        }
    }

    .play {
        width: 100%;
        max-width: 300px;
        // background-color: rgba(#58E9C6, .11);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // opacity: 0.5;
        // cursor: not-allowed;
        // user-select: none;

        @media (max-width: 1023px) {
            max-width: 200px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            min-height: 335px;

            display: none;
        }

        img {
            @media (max-width: 1280px) {
                width: 95px;
                height: 95px;
            }
        }

        h4 {
            margin-bottom: 0;
            margin-top: 18px;
        }
    }
}


.d1 {
    position: absolute;
    z-index: -1;
    bottom: 220px;
    right: -30px;
}

.d2 {
    position: absolute;
    bottom: 100px;
    right: -120px;
}

.d1, .d2 {
    @media (max-width: 420px) {
        display: none;
    }
}