.card {
    padding: 32px 50px 32px;
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    border-radius: 32px;
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
    gap: 40px;

    transition: all .2s linear;

    @media (max-width: 768px) {
        padding: 25px 20px;
        flex-direction: column;
        gap: 0px;
    }
}

.name {
    padding-top: 2px;
    font-weight: 700;
}

.isMainDay {
    background: #EDFDF9;
}

.head {

    // cursor: pointer;
    transition: all .2s linear;
    position: relative;

    @media (max-width: 1023px) {
        margin-bottom: 16px;
    }

    @media (max-width: 768px) {
        align-items: flex-start;
        flex-direction: column;

        // .text {
            // max-height: 0;
            // overflow: hidden;
            // transition: all .2s linear;
        // }
    }
    /*
    &.open {
        padding: 23px 0;


        @media (max-width: 768px) {
            padding: 10px 0;
            .text {
                max-height: 10rem;
                padding-top: 30px;
            }
        }
    }
    */
}

/*
.icon {
    transition: .2s linear;
    position: absolute;
    top: 55%;
    right: -20px;
    transform: translateY(-50%);

    & > svg > path {
        transition: all .2s linear;
    } 

    @media (max-width: 768px) {
        right: -10px;
    }
}
*/

.body {
    display: flex;
    transition: all .2s linear;
    overflow: hidden;
    max-height: 100rem;

    width: 100%;
    max-width: 800px;

    @media (max-width: 1023px) {
        padding-left: 0;
    }

    @media (max-width: 768px) {
        flex-direction: column;
    }

    /*
    &.hide {
        max-height: 0rem;
        opacity: 0;
    }
    */
}

.col {
    width: 100%;
}

.date {
    width: 100%;
    max-width: 350px;

    font-size: 30px;
    font-weight: 700;
    white-space: nowrap;

    @media (max-width: 768px) {
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 18px;
    }

    @media (max-width: 369px) {
        font-size: 18px;
    }
}

.text {
    transition: .2s linear;
    font-size: 20px;
    font-weight: 600;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.list {
    @media (max-width: 768px) {
        margin-top: 15px;
    }

    font-size: 14px;

    ul {
        list-style-type: disc;
        padding-left: 15px;
        line-height: 150%;
        color: #000;
        list-style: none;

        > li {
            display: flex;
            gap: 140px;
            margin-bottom: 16px;

            > span:first-of-type {
                min-width: 60px;
                text-align: right;

                @media (max-width: 768px) {
                    min-width: 42px;
                }
            }

            @media (max-width: 1279px) {
                gap: 40px;
            }
        }

        @media (max-width: 768px) {
            padding-left: 0;
        }
    }
}

.mainDayTitle {
    color: #FB21A1;
    white-space: nowrap;

    display: flex;
    align-items: center;
    gap: 8px;
}