.block {
    padding: 80px 0 75px;
    position: relative;

    @media (max-width: 1024px) {
        padding: 32px 0;
    }
}

.head {
    display: flex;
    justify-content: center;
}

.nav {
    img {
        width: 78px;
        height: 78px;

        @media (max-width: 768px) {
            width: 32px;
            height: 32px;
        }
    }

    @media (max-width: 500px) {
        display: none;
    }
}

.content {
    text-align: center;
    margin: 0 60px;

    @media (max-width: 768px) {
        margin: 0;
    }

    h2 {
        margin-bottom: 32px;
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    p {
        font-size: 14px;
        line-height: 150%;
        &:not(:last-child) {
            margin-bottom: 18px;

            @media (max-width: 768px) {
                margin-bottom: 12px;
            }
        }
    }
}

.slider {
    padding-top: 100px;
    width: 100%;
    max-width: 732px;
    margin: 0 auto 94px;
    @media (max-width: 768px) {
        padding-top: 40px;
        margin-bottom: 40px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.swiper {
    overflow: visible !important;
}

.reviews {
    width: 100%;
    max-width: 410px;
    margin: 0 auto;

    @media (max-width: 420px) {
        img {
            width: 100%;
            height: auto;
        }
    }
}
.d1, .d2, .d3, .d4 {
    top: 0;
    position: absolute;

    @media (max-width: 768px) {
        display: none;
    }
}

.d3 {
    left: 43%;
    top: -10%;
}

.d1 {
    top: -5%;
    left: 20%;
}

.d2 {
    top: 3%;
    left: 28%;
}

.d4 {
    top: 20%;
    right: 0;
}